h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
}

body,
html,
.stTextInput,
.stSelectbox,
.stTextarea,
.stMarkdown,
p {
    font-family: 'Roboto', serif;
}

.st-emotion-cache-q8sbsg p {
    font-size: 24px;
}

